# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment secrets
.env

# Tests and caches
.pytest_cache/
.coverage
htmlcov/

# Logs and runtime state
logs/
*.log
state.json/
app/state.json
.container_states/
.container_status

# Temporary files
:{{}}~
test

# IDE and OS
.vscode/
.idea/
.DS_Store
