name: Docker CI/CD

on:
  push:
    branches: ['main']

# Даем права на запись образа, которые ты включил в настройках
permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Используем lowercase для безопасности тегов
          tags: ghcr.io/${{ github.repository_owner }}/monitor-bot:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Deploy via SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          # Флаг -T отключает запрос терминала
          # Флаг -o ConnectTimeout=60 не дает соединению сразу оборваться
          ssh -T -i ~/.ssh/id_rsa -p 80 -o StrictHostKeyChecking=no -o ConnectTimeout=60 ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd ~/monitor_bot
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose down || true
            docker compose pull
            docker compose up -d
          EOF
